

body {
    background-color: #37393b;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    display: flex;
    
}

.controls {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: auto;
}

button:hover {
        background: #ffffff;
        color: #050801;
        box-shadow: 0 0 5px #ffffff,
                    0 0 25px #ffffff,
                    0 0 50px #ffffff,
                    0 0 200px #ffffff;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }

.header {
    color:#ffffff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.colorPickerContainer {
    color:#ffffff;
}   

button {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 0;
    color: #37393b;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
}

#grid {
    display: flex;
    height: 400px;
    width: 400px;
    flex-direction: column;
    user-select: none;
    border: .5px solid black;
    margin-left: 20px;
    background-color: #fff;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
    }
    @-webkit-keyframes glowing {
    from {
        box-shadow: 0 0 2px #37393b, 0 0 5px #37393b, 0 0 7px #37393b, 0 0 10px #37393b, 0 0 12px #37393b, 0 0 14px #37393b, 0 0 16px #37393b;
    }
    to {
        box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ff4da6, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
    }
}

.row {
    flex-grow:1;
    display: flex;
}

#sliderText {
    color:#ffffff
}

.col {
    display: flex;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
}

.col.active {
    background-color: black;
}